/**
 * Less file for desktops
 */

.ciup-events-container {
    .ciup-list-events {
        grid-template-columns: repeat(4, 1fr);
        &.ciup-grid-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        &.ciup-grid-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.ciup-grid-4 {
            grid-template-columns: repeat(4, 1fr);
        }
        &.ciup-grid-5 {
            grid-template-columns: repeat(5, 1fr);
        }
        &.ciup-grid-6 {
            grid-template-columns: repeat(6, 1fr);
        }
    }
}