/**
 * Less file for mobile first
 */

@font-face {
    font-family: 'tt_normsregular';
    src: url('fonts/tt_norms_regular-webfont.woff2') format('woff2'),
        url('fonts/tt_norms_regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'tt_normsmedium';
    src: url('fonts/tt_norms_medium-webfont.woff2') format('woff2'),
        url('fonts/tt_norms_medium-webfont.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'tt_normsextrabold';
    src: url('fonts/tt_norms_extrabold-webfont.woff2') format('woff2'),
        url('fonts/tt_norms_extrabold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'tt_normsbold';
    src: url('fonts/tt_norms_bold-webfont.woff2') format('woff2'),
        url('fonts/tt_norms_bold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

// Fonts
@font_regular: 'tt_normsregular', sans-serif;
@font_medium: 'tt_normsmedium', sans-serif;
@font_bold: 'tt_normsbold', sans-serif;
@font_extrabold: 'tt_normsextrabold', sans-serif;

// Colors 
@white: #ffffff;
@black: #000000;
@text: #424242;

.ciup-events-container {
    width: 100%;
    .ciup-header {
        width: 100%;
        .ciup-header-title {
            font-family: @font_extrabold;
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
    .ciup-list-events {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        .ciup-event {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.1);
            .ciup-event-link {
                display: flex;
                flex-wrap: wrap;
                height: 100%;
                color: @black;
                text-decoration: none;
                &:hover,
                &:active,
                &:focus {
                    cursor: pointer;
                    .ciup-event-head {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
                .ciup-event-head {
                    width: 100%;
                    height: 200px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 0.3s ease;
                    }
                }
                .ciup-event-description {
                    position: relative;
                    height: calc(100% - 230px);
                    padding: 15px;
                    .ciup-event-dates {
                        position: absolute;
                        top: -15px;
                        left: 10%;
                        width: 80%;
                        font-size: 14px;
                        font-family: @font_medium;
                        text-align: center;
                        color: @white;
                        background-color: @black;
                        z-index: 1;
                        margin: 0;
                        padding: 6px 0;
                    }
                    .ciup-event-title {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-height: 50px;
                        font-family: @font_extrabold;
                        font-size: 16px;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 10px 0 0 0;
                    }
                    .ciup-event-excerpt {
                        font-size: 14px;
                        font-family: @font_regular;
                        text-align: justify;
                        color: @text;
                    }
                }
            }
        }
    }
    .ciup-footer {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px 0;
        .ciup-footer-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            font-family: @font_bold;
            font-size: 12px;
            color: @black;
            background-color: #ffeb00;
            text-decoration: none;
            margin: 0;
            padding: 2px 10px;
            border: 3px solid #ffeb00;
            border-radius: 25px;
            transition: background-color 0.2s ease;
            &:hover,
            &:active,
            &:focus {
                cursor: pointer;
                background-color: @white;
            }
        }
    }
}