/**
 * Master less file
 */

// Mobile First
@import 'mobilefirst.less';

// Small devices (tablets, 768px and up)
@media (min-width: 768px) {
    @import 'tablets.less';
}

// Medium devices (desktops, 992px and up)
@media (min-width: 992px) {
    @import 'desktops.less';
}

// Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    @import 'large-desktops.less';
}
