<h1 class="code-line" data-line-start=1 data-line-end=2 ><a id="CIUP_Events_API_1"></a>CIUP Events API</h1>
<p class="has-line-data" data-line-start="3" data-line-end="4"><strong>CIUP Events API</strong> is a javascript library to retrieve <strong>CIUP</strong> events. Multiples options are available like the library itself and the <a href="https://www.google.fr">CIUP EVENTS API Plugin</a>.</p>
<h2 class="code-line" data-line-start=5 data-line-end=6 ><a id="Testing_5"></a>Testing</h2>
<p class="has-line-data" data-line-start="7" data-line-end="8">Want to try it before ? Download the <a href="https://gitlab.com/ciup/api">Github zip</a> from master branch and open index.html</p>
<h2 class="code-line" data-line-start=9 data-line-end=10 ><a id="Installation_9"></a>Installation</h2>
<h3 class="code-line" data-line-start=11 data-line-end=12 ><a id="Download_11"></a>Download</h3>
<p class="has-line-data" data-line-start="13" data-line-end="14">Download the <a href="https://gitlab.com/ciup/api">Github zip</a> from master branch and go to <strong>/dist/</strong> folder and keep only the latest zip folder.</p>
<p class="has-line-data" data-line-start="15" data-line-end="16"><strong>Uncompressed</strong> the zip and add it to your project.</p>
<h3 class="code-line" data-line-start=17 data-line-end=18 ><a id="Javascript_Library_17"></a>Javascript Library</h3>
<p class="has-line-data" data-line-start="19" data-line-end="20">The library is dependant to <strong>JQuery</strong>. Do not forget to import before the javascript ciup library.</p>
<h4 class="code-line" data-line-start=21 data-line-end=22 ><a id="Add_script_in_the_footer_21"></a>Add script in the footer</h4>
<pre><code class="has-line-data" data-line-start="24" data-line-end="29" class="language-javascript">    &lt;script src=<span class="hljs-string">"https://code.jquery.com/jquery-3.3.1.min.js"</span>&gt;<span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-title">link</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"text/css"</span> <span class="hljs-attribute">rel</span>=<span class="hljs-value">"stylesheet"</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"/path/to/ciup-events-api.min.css"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">script</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"text/javascript"</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">"/path/to/ciup-events-api.min.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
</span></code></pre>
<h3 class="code-line" data-line-start=30 data-line-end=31 ><a id="WP_Plugin_30"></a>WP Plugin</h3>
<ol>
<li class="has-line-data" data-line-start="32" data-line-end="33">Install the <a href="https://www.google.fr">CIUP EVENTS API Plugin</a></li>
<li class="has-line-data" data-line-start="33" data-line-end="34">Activate the <strong>CIUP EVENTS API Plugin</strong> !</li>
<li class="has-line-data" data-line-start="34" data-line-end="36">Need some help ? Check the  <a href="https://www.google.fr">documentation</a> of the plugin.</li>
</ol>
<h2 class="code-line" data-line-start=36 data-line-end=37 ><a id="Settings_36"></a>Settings</h2>
<table class="table table-striped table-bordered">
<thead>
<tr>
<th>Options</th>
<th>Type</th>
<th>Default</th>
<th>Description</th>
<th>Values</th>
</tr>
</thead>
<tbody>
<tr>
<td>header</td>
<td>boolean</td>
<td>true</td>
<td>Show or not the header</td>
<td>true, false</td>
</tr>
<tr>
<td>footer</td>
<td>boolean</td>
<td>true</td>
<td>Show or not the  footer ?</td>
<td>true, false</td>
</tr>
<tr>
<td>layout</td>
<td>string</td>
<td>“default”</td>
<td>Choose your layout disposition : If you choose grid-number, the number will be the number of elements per row.</td>
<td>default, grid-2, grid-3, grid-4, grid-5, grid- 6</td>
</tr>
<tr>
<td>elements</td>
<td>integer</td>
<td>4</td>
<td>Number of elements to show globally.</td>
<td>Min value : 1</td>
</tr>
<tr>
<td>place</td>
<td>array</td>
<td>[]</td>
<td>Slug of the place ? You can filter on any place.</td>
<td>See the list at the end of the <strong>README</strong></td>
</tr>
<tr>
<td>theme</td>
<td>array</td>
<td>[]</td>
<td>Slug of the theme ? You can filter on any theme.</td>
<td>See the list at the end of the <strong>README</strong></td>
</tr>
<tr>
<td>period</td>
<td>string</td>
<td>“future”</td>
<td>Filter on past or future events.</td>
<td>“past”, “future”</td>
</tr>
<tr>
<td>page</td>
<td>integer</td>
<td>1</td>
<td>Pagination</td>
<td>Min value : 1</td>
</tr>
</tbody>
</table>
<h2 class="code-line" data-line-start=49 data-line-end=50 ><a id="Result_49"></a>Result</h2>
<p class="has-line-data" data-line-start="51" data-line-end="52">Return values from the new Ciup();</p>
<p class="has-line-data" data-line-start="53" data-line-end="54"><strong>Return the list of items</strong></p>
<table class="table table-striped table-bordered">
<thead>
<tr>
<th>Return</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>id</td>
<td>integer</td>
</tr>
<tr>
<td>thumbnail</td>
<td>url</td>
</tr>
<tr>
<td>title</td>
<td>string</td>
</tr>
<tr>
<td>excerpt</td>
<td>string</td>
</tr>
<tr>
<td>description</td>
<td>string</td>
</tr>
<tr>
<td>description_html</td>
<td>html</td>
</tr>
<tr>
<td>link</td>
<td>url</td>
</tr>
<tr>
<td>theme</td>
<td>string</td>
</tr>
<tr>
<td>place</td>
<td>string</td>
</tr>
<tr>
<td>agenda_start</td>
<td>string</td>
</tr>
<tr>
<tr>
<td>agenda_start_datetime</td>
<td>date (ISO-8601)</td>
</tr>
<td>agenda_end</td>
<td>string</td>
</tr>
<tr>
<td>agenda_end_datetime</td>
<td>date (ISO-8601)</td>
</tr>
<tr>
<td>modified_date</td>
<td>date</td>
</tr>
<tr>
<td>agenda_usefull_info_date</td>
<td>string</td>
</tr>
<tr>
<td>agenda_usefull_info_hours</td>
<td>string</td>
</tr>
<tr>
<td>agenda_usefull_info_price</td>
<td>string</td>
</tr>
<tr>
<td>agenda_usefull_info_text</td>
<td>string</td>
</tr>
</tbody>
</table>
<p class="has-line-data" data-line-start="72" data-line-end="73"><strong>Return the number of items</strong></p>
<table class="table table-striped table-bordered">
<thead>
<tr>
<th>Return</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>posts_counts</td>
<td>integer</td>
</tr>
</tbody>
</table>
<h2 class="code-line" data-line-start=77 data-line-end=78 ><a id="Usage_77"></a>Usage</h2>
<pre><code class="has-line-data" data-line-start="80" data-line-end="124" class="language-javascript">    $( <span class="hljs-built_in">document</span> ).ready(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    
         <span class="hljs-comment">// Retrieve data only and custom html</span>
         <span class="hljs-keyword">var</span> c1 = <span class="hljs-keyword">new</span> Ciup({
             <span class="hljs-string">"header"</span> : <span class="hljs-literal">false</span>,
             <span class="hljs-string">"footer"</span> : <span class="hljs-literal">false</span>,
             <span class="hljs-string">"layout"</span> : <span class="hljs-string">"default"</span>,
             <span class="hljs-string">"elements"</span> : <span class="hljs-number">5</span>,
             <span class="hljs-string">"place"</span> : <span class="hljs-string">"fondation-etats-unis"</span>,
             <span class="hljs-string">"theme"</span> : <span class="hljs-string">"exposition"</span>,
             <span class="hljs-string">"period"</span> : <span class="hljs-string">"future"</span>
             <span class="hljs-string">"page"</span> : <span class="hljs-number">1</span>
         }).init();

         c1.then(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">res</span>)</span>{
             $(<span class="hljs-string">'.slider'</span>).append(<span class="hljs-string">'Nombre d\'événement : '</span>+res.posts_counts+<span class="hljs-string">''</span>);
             $.each(res.items, <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">key, val</span>) </span>{
                 $(<span class="hljs-string">'.slider'</span>).append(<span class="hljs-string">'&lt;p class="agenda-end"&gt;'</span>+val[<span class="hljs-string">'agenda_end'</span>]+<span class="hljs-string">'&lt;/p&gt;'</span>);
                 $(<span class="hljs-string">'.slider'</span>).append(<span class="hljs-string">'&lt;p class="agenda-start"&gt;'</span>+val[<span class="hljs-string">'agenda_start'</span>]+<span class="hljs-string">'&lt;/p&gt;'</span>);
                 $(<span class="hljs-string">'.slider'</span>).append(<span class="hljs-string">'&lt;p class="description"&gt;'</span>+val[<span class="hljs-string">"description"</span>]+<span class="hljs-string">'&lt;/p&gt;'</span>);
                 $(<span class="hljs-string">'.slider'</span>).append(<span class="hljs-string">'&lt;p class="id"&gt;'</span>+val[<span class="hljs-string">"id"</span>]+<span class="hljs-string">'&lt;/p&gt;'</span>);
                 $(<span class="hljs-string">'.slider'</span>).append(<span class="hljs-string">'&lt;p class="link"&gt;'</span>+val[<span class="hljs-string">"link"</span>]+<span class="hljs-string">'&lt;/p&gt;'</span>);
                 $(<span class="hljs-string">'.slider'</span>).append(<span class="hljs-string">'&lt;p class="place"&gt;'</span>+val[<span class="hljs-string">"place"</span>]+<span class="hljs-string">'&lt;/p&gt;'</span>);
                 $(<span class="hljs-string">'.slider'</span>).append(<span class="hljs-string">'&lt;p class="theme"&gt;'</span>+val[<span class="hljs-string">"theme"</span>]+<span class="hljs-string">'&lt;/p&gt;'</span>);
                 $(<span class="hljs-string">'.slider'</span>).append(<span class="hljs-string">'&lt;img class="thumbnail" src="'</span>+val[<span class="hljs-string">"thumbnail"</span>]+<span class="hljs-string">'"&gt;'</span>);
                 $(<span class="hljs-string">'.slider'</span>).append(<span class="hljs-string">'&lt;h1 class="title"&gt;'</span>+val[<span class="hljs-string">"title"</span>]+<span class="hljs-string">'&lt;/h1&gt;'</span>);
             });
         });

         <span class="hljs-comment">// Render the events with the specified layout</span>
         <span class="hljs-keyword">var</span> c3 = <span class="hljs-keyword">new</span> Ciup({
             <span class="hljs-string">"header"</span> : <span class="hljs-literal">true</span>,
             <span class="hljs-string">"footer"</span> : <span class="hljs-literal">true</span>,
             <span class="hljs-string">"layout"</span> : <span class="hljs-string">"grid-4"</span>,
             <span class="hljs-string">"elements"</span> : <span class="hljs-number">8</span>,
             <span class="hljs-string">"place"</span> : <span class="hljs-string">""</span>,
             <span class="hljs-string">"theme"</span> : <span class="hljs-string">""</span>,
             <span class="hljs-string">"period"</span> : <span class="hljs-string">""</span>
         });

         c3.render(<span class="hljs-string">'.render-default'</span>);

     });
</code></pre>
<h2 class="code-line" data-line-start=125 data-line-end=126 ><a id="List_of_themes_and_places_125"></a>List of themes and places</h2>
<h3 class="code-line" data-line-start=127 data-line-end=128 ><a id="Themes_127"></a>Themes</h3>
<table class="table table-striped table-bordered">
<thead>
<tr>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td>cinema</td>
<td>conference-debat</td>
<td>exposition</td>
<td>festival</td>
<td>innovation</td>
<td>insolite</td>
</tr>
<tr>
<td>jeune-public</td>
<td>musique</td>
<td>rencontre</td>
<td>sport</td>
<td>theatre</td>
<td>visites-guidees</td>
</tr>
</tbody>
</table>
<h3 class="code-line" data-line-start=134 data-line-end=135 ><a id="Places_134"></a>Places</h3>
<table class="table table-striped table-bordered">
<thead>
<tr>
<th></th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td>bibliotheque</td>
<td>college-espagne</td>
<td>college-franco-britannique</td>
<td>college-neerlandais</td>
</tr>
<tr>
<td>comptoir-coreen</td>
<td>espace-exposition-plein-air</td>
<td>fondation-abreu-de-grancher</td>
<td>fondation-avicenne</td>
</tr>
<tr>
<td>fondation-biermans-lapotre</td>
<td>fondation-danoise</td>
<td>fondation-chine</td>
<td>fondation-monaco</td>
</tr>
<tr>
<td>fondation-etats-unis</td>
<td>fondation-deutsch-de-la-meurthe</td>
<td>fondation-hellenique</td>
<td>fondation-lucien-paye</td>
</tr>
<tr>
<td>fondation-suisse</td>
<td>fondation-victor-lyon</td>
<td>oblique</td>
<td>maison-argentine</td>
</tr>
<tr>
<td>maison-ile-de-france</td>
<td>maison-inde</td>
<td>maison-italie</td>
<td>maison-coree</td>
</tr>
<tr>
<td>maison-tunisie</td>
<td>maison-tunisie-pavillon-habib-bourguiba</td>
<td>maison-norvege</td>
<td>maison-eleves-ingenieurs-arts-et-metiers</td>
</tr>
<tr>
<td>maison-etudiants-armeniens</td>
<td>maison-etudiants-canadiens</td>
<td>maison-etudiants-asie-du-sud-est</td>
<td>maison-etudiants-francophonie</td>
</tr>
<tr>
<td>maison-etudiants-suedois</td>
<td>maison-industries-agricoles-alimentaires</td>
<td>maison-provinces-france</td>
<td>maison-bresil</td>
</tr>
<tr>
<td>maison-cambodge</td>
<td>maison-japon</td>
<td>maison-liban</td>
<td>maison-maroc</td>
</tr>
<tr>
<td>maison-mexique</td>
<td>maison-portugal</td>
<td>maison-heinrich-heine</td>
<td>maison-internationale</td>
</tr>
<tr>
<td>maison-internationale-agroparistech</td>
<td>miksi-coworking</td>
<td>parc-cite-internationale</td>
<td>residence-andre-honnorat</td>
</tr>
<tr>
<td>residence-julie-victoire-daubie</td>
<td>residence-lila</td>
<td>residence-robert-garric</td>
<td>restaurant-universitaire</td>
</tr>
<tr>
<td>salle-polyvalente</td>
<td>studios-musique</td>
<td>theatre-cite-internationale</td>
<td></td>
</tr>
</tbody>
</table>
<h2 class="code-line" data-line-start=153 data-line-end=154 ><a id="Bugs_and_feature_requests_153"></a>Bugs and feature requests</h2>
<p class="has-line-data" data-line-start="155" data-line-end="156">If you find a bug, please report <a href="https://gitlab.com/ciup/api/issues/new">it here on Github.</a></p>
<p class="has-line-data" data-line-start="157" data-line-end="158">Guidelines for bug reports:</p>
<p class="has-line-data" data-line-start="159" data-line-end="162">Use the GitHub issue search — check if the issue has already been reported.<br>
Check if the issue has been fixed — try to reproduce it using the latest master branch in the repository.<br>
A good bug report shouldn’t leave others needing to chase you up for more information. Please try to be as detailed as possible in your report.</p>
<p class="has-line-data" data-line-start="163" data-line-end="164">Feature requests are welcome. Please look for existing ones and use GitHub’s “reactions” feature to vote.</p>
<h2 class="code-line" data-line-start=165 data-line-end=166 ><a id="License_165"></a>License</h2>
<p class="has-line-data" data-line-start="167" data-line-end="168"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>